body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2, h3 {
    color: #A6192E;
}

.container h2 {
    text-align: center;
    color: black;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    background-color: #A6192E;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    filter: #8F1428;
}
a {
    color: #A6192E;
    text-decoration: none;
    font-size: 0.9em;
}
a:hover{
    text-decoration: underline;
}
.center-link{
    text-align: center;
    margin-top: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

.message {
    color: red;
    text-align: center;
}
